<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CHManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D18B46FB1CCFAB8300FEA8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D18B47141CCFAB8300FEA8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D18B471F1CCFAB8300FEA8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
